<header>
  <a class="navbar-logo" (click)="toggleMenu()">
    <div class="logo"></div>
  </a>

  <nav class="navbar">
    <input type="checkbox" id="check" [checked]="menuOpen" />
    <label for="check" (click)="toggleMenu()">
      <i class="fas fa-bars" *ngIf="!menuOpen"></i>
      <i class="fas fa-times" *ngIf="menuOpen"></i>
    </label>

    <ul class="nav__links" [class.active]="menuOpen">
      <li class="nav-item">
        <a class="nav-link" routerLink="/parques" routerLinkActive="active">Parques</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/actividades" routerLinkActive="active">Actividades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">¿Quiénes somos?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/eventos" routerLinkActive="active">Eventos y últimas noticias</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/dashboard-profile" routerLinkActive="active">MI PERFIL</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrarse</a>
      </li>
    </ul>
  </nav>
</header>
