@import url('https://fonts.googleapis.com/css2?family=Rockwell&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    position: relative;
    z-index: 1000;
}

.navbar {
    padding: 10px;
}

.logo {
    width: 120px;
    height: 80px;
    background-image: url('https://res.cloudinary.com/dhufclese/image/upload/v1742853821/logoalparque_cpihuh.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.nav__links {
    display: flex;
    gap: 10px;
}

.nav__links li {
    background: linear-gradient(45deg, #8b4513, #a0522d);
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 8px 15px;
}

.nav__links li a {
    font-family: 'Rockwell', serif;
    font-size: 1.2rem;
    color: #fcd69e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav__links a:hover {
    color: #e5ac57;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

label #btn-nav,
label #cancel {
    display: none;
}

#check {
    display: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 900px) {
    .nav__links {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #1e1e1e;
        padding: 0;
        text-align: center;
        transition: max-height 0.3s ease-in-out;
    }

    .nav__links.active {
        max-height: 500px;
        padding: 10px 0;
    }

    .logo {
        cursor: pointer;
    }
}
