
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://res.cloudinary.com/dhufclese/image/upload/v1739460069/sarmientoturismo3_cuu1vq.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.form_login{
    width: 600px;
    height: fit-content;
    background: #1e1e1e;
    margin: auto;
    box-shadow: 7px 13px 37px #000;
    border-top: 20px solid #159a2d;
    color: #ffffff;
    padding: 5rem;
/*     margin-top: 2.5rem;
 */}

.form_container{
    padding: 10px;
    height: fit-content;
}

.title_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_login h1{
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Bangers', sans-serif;
    color: #fbf0f0;
    -webkit-text-stroke: 1.2px black;
    text-shadow: #fbf0f0 0 -2px;
}

.form_login h2{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 2rem;
    color:#c2fc9e ;
}

.controles{
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #fbf0f0;
    font-size: 1.1rem;
    font-weight: bold;
}

.botom{ 
    width: 100%;
    height: 40px;
    background: #51f251;
    border: none;
    color: #1e1e1e;
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.botom:hover{
    background: #f0a432;
}
.form_login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
} 
.form_login a {
    color: #fcd69e;
    text-decoration: none;
    font-size: 14px; 
}
.form_login a:hover {
    text-decoration: underline;
}

.go_back{
    text-decoration: none;
    background-color: #008bce;
    color: whitesmoke;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.go_back:hover{
    background-color: #016699;
}

.logo{
    max-height: 180px;
    margin: 0 auto;
    display: block;
}

.form__field{
    overflow: hidden;
}

.ng-invalid:not(form).ng-touched {
    border: solid 2px red;
}

.ng-valid:not(form).ng-touched {
    border: solid 2px rgb(13, 167, 13);
}

.form__field small{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ce2d2d;
    padding: 4px 0;
    margin-bottom: 2px;
}

.link{
    cursor: pointer;
    color:#ce2d2d;

}


.title_login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_login::before {
    content: "";
    display: block;
    min-width: 800px;
    height: 180px;
    background-image: url('https://res.cloudinary.com/dhufclese/image/upload/v1742853989/alparquelogo2_xm7qko.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
}
