<!-- <div class="card">
    <div class="card-body">
      <h3>{{ actividad.nombre }}</h3>
      <p>{{ actividad.descripcion }}</p>
      <p><strong>Instagram:</strong> <a [href]="actividad.instagram">{{ actividad.instagram }}</a></p>
      <p><strong>Website:</strong> <a [href]="actividad.website">{{ actividad.website }}</a></p>
      <p><strong>Teléfono:</strong> {{ actividad.telefono }}</p>
      <p><strong>Integrantes:</strong> {{ actividad.integrantes }}</p>
      <p><strong>Parque:</strong> {{ actividad.parque }}</p>
      <p><strong>Habilitado</strong> {{ actividad.habilitado }}</p>
    </div>
  </div>
   -->