/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Banner de usuario */
.user_banner {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

.user_data {
    margin-bottom: 20px;
    text-align: left;
}

.user_data span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Imagen de usuario */
.user_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}

.user_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user_img:hover {
    transform: scale(1.1);
}

/* Botones */
button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    color: white;
}

.edit_profile_btn, .imc_btn {
    background-color: #4CAF50;
}

.logout_btn {
    background-color: #d9534f;
}

button:hover {
    filter: brightness(90%);
}

/* Tarjetas */
.row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.card h3 {
    margin-bottom: 10px;
}

.card button {
    background: #007bff;
}

.card button:hover {
    background: #0056b3;
}
