
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://res.cloudinary.com/dhufclese/image/upload/v1742994962/sarmientoturismo3_asikld.jpg');
    background-size: cover;
    background-attachment: fixed;
}