<main>
    <!-- <section>
      <div class="container-carousel">
        <div class="carruseles" id="slider">
          <section class="slider-section">
            <img src="../../assets/images/SuscribeteCarousel.jpeg" />
          </section>
    
          <section class="slider-section">
            <img src="../../assets/images/SpiderCarousel.jpeg" />
          </section>
    
          <section class="slider-section">
            <img src="../../assets/images/EnviosCarousel.jpeg" />
          </section>
          <section class="slider-section">
            <img src="../../assets/images/CapitanCarousel.jpeg" />
          </section>
        </div>
        <div class="btn-left"><i class="bx bx-chevron-left"></i></div>
        <div class="btn-right"><i class="bx bx-chevron-right"></i></div>
      </div>
    </section> -->
    <!-- Sección Banner -->
    <!-- <section id="banner">
      <div class="container">
        <div class="button-container">
          <div class="button">
            <img src="../../assets/images/delivered.png" alt="Descuentos_Exclusivos" />
          </div>
            <p class="button-text">Envío gratis Córdoba capital</p>
        </div>
        <div class="button-container">
          <div class="button">
            <img src="../../assets/images/wallet.png" alt="Descuentos_Exclusivos" />
          </div>
            <p class="button-text">Todos los medios de pago</p>
        </div>
        <div class="button-container">
          <div class="button">
            <img src="../../assets/images/discount.png" alt="Descuentos_Exclusivos" />
          </div>
            <p class="button-text">Descuentos Exclusivos</p>
        </div>
      </div>
    </section> -->
    
   
  
    <section>
      <app-contact></app-contact>
    </section>
  </main>